.Prod{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 980px;
    margin:auto;
    padding-left:50px;
    
}
.Prod img{
    width:100px;
    height:100px;
}
.loading{
    align-items: center;

}