.carditem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.carditem img{
    width:100px;
    height:100px;
}
.quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    display: flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    
}
.Add{
    margin-right: 10px;
}
.Sub{
    margin-left: 10px;
}

.total{
    text-align: center;

}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}